.Tile {
  max-width: 28%;
  min-width: 28%;
  display: flex;
  flex-flow: column;
  min-height: 30rem;
  align-items: flex-start;
  padding: 2rem;
}

.Tile button {
  align-self: flex-end;
}

.Tile .Name {
  min-height: 6rem;
}

.Tiles {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.Tiles > .Tile + .Tile {
  border-left: 1px solid black;
}

.ArrowUp {
  fill: green;
  color: green;
}
.ArrowDown {
  fill: red;
  color: red;
}

.ArrowUp,
.ArrowDown {
  height: 3rem;
  width: 3rem;
}

.StockQuote {
  display: flex;
  flex-flow: row;
}

.CurrentValue {
  display: flex;
  flex-flow: column;
}
